@font-face {
    font-family: "lobster";
    src: url("~@/assets/Lobster-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "open-sans-regular";
    src: url("~@/assets/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "open-sans-italic";
    src: url("~@/assets/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "lemon";
    src: url("~@/assets/Lemon-Regular.ttf") format("truetype");
}
